flows (1).json
[{"id":"2a9c3939.90faa6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e25f20d2.58d0f","type":"ibmiot in","z":"2a9c3939.90faa6","authentication":"apiKey","apiKey":"68d9a304.bee6ec","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"636912","applicationId":"","deviceType":"dustbin","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["40e62e11.71b47","2f824013.b7efd"]]},{"id":"d1a2bc69.57a1a","type":"debug","z":"2a9c3939.90faa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":160,"wires":[]},{"id":"40e62e11.71b47","type":"function","z":"2a9c3939.90faa6","name":"Garbage level","func":"global.set(\"Garbagelevel\",msg.payload.garbagelevel)\nmsg.payload=msg.payload.garbagelevel\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["d1a2bc69.57a1a","2e05ce73.a08fc2"]]},{"id":"2f824013.b7efd","type":"function","z":"2a9c3939.90faa6","name":"Garbage weight","func":"global.set(\"Garbageweight\",msg.payload.garbageweight)\nmsg.payload=msg.payload.garbageweight\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["d1a2bc69.57a1a","da6b69f5.a48e28"]]},{"id":"2e05ce73.a08fc2","type":"ui_gauge","z":"2a9c3939.90faa6","name":"garbagelevel","group":"361ab503.770ada","order":1,"width":0,"height":0,"gtype":"gage","title":"Garbage level","label":"units","format":"{{value}}","min":"5","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":100,"wires":[]},{"id":"da6b69f5.a48e28","type":"ui_gauge","z":"2a9c3939.90faa6","name":"garbageweight","group":"361ab503.770ada","order":2,"width":0,"height":0,"gtype":"gage","title":"Garbage weight","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":260,"wires":[]},{"id":"20c6dfe1.ab73d","type":"debug","z":"2a9c3939.90faa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"8437ecc7.d51f","type":"ibmiot out","z":"2a9c3939.90faa6","authentication":"apiKey","apiKey":"68d9a304.bee6ec","outputType":"cmd","deviceId":"636912","deviceType":"dustbin","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":610,"y":680,"wires":[]},{"id":"2af7d643.ce85ea","type":"ui_button","z":"2a9c3939.90faa6","name":"","group":"361ab503.770ada","order":2,"width":0,"height":0,"passthru":false,"label":"COVER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"covered\"}","payloadType":"json","topic":"","x":240,"y":620,"wires":[["8437ecc7.d51f","20c6dfe1.ab73d"]]},{"id":"193dd3b4.bfe24c","type":"ui_button","z":"2a9c3939.90faa6","name":"","group":"361ab503.770ada","order":3,"width":0,"height":0,"passthru":false,"label":"UNCOVER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"uncovered\"}","payloadType":"json","topic":"","x":260,"y":720,"wires":[["8437ecc7.d51f","20c6dfe1.ab73d"]]},{"id":"a79e588.13e0ea8","type":"http in","z":"2a9c3939.90faa6","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["c83fda1f.264678"]]},{"id":"c26992d7.0e12e","type":"http response","z":"2a9c3939.90faa6","name":"","statusCode":"","headers":{},"x":490,"y":380,"wires":[]},{"id":"c83fda1f.264678","type":"function","z":"2a9c3939.90faa6","name":"data","func":"msg.payload={\"garbagelevel\":global.get(\"Garbagelevel\"),\"garbageweight\":global.get(\"Garbageweight\")}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["c26992d7.0e12e"]]},{"id":"272d459f.95fdaa","type":"http in","z":"2a9c3939.90faa6","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":500,"wires":[["50ed9ecc.ca057"]]},{"id":"11cdb9aa.d5c866","type":"http response","z":"2a9c3939.90faa6","name":"","statusCode":"","headers":{},"x":490,"y":500,"wires":[]},{"id":"50ed9ecc.ca057","type":"function","z":"2a9c3939.90faa6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["11cdb9aa.d5c866","b6c3aa9.8360f58","8437ecc7.d51f"]]},{"id":"b6c3aa9.8360f58","type":"debug","z":"2a9c3939.90faa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":540,"wires":[]},{"id":"68d9a304.bee6ec","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"361ab503.770ada","type":"ui_group","z":"","name":"Default","tab":"7a2a817.584388","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a2a817.584388","type":"ui_tab","z":"","name":"Device","icon":"dashboard","disabled":false,"hidden":false}]